html, body, #root, .App{
  height: 100%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.hide-scrollbars {
  -ms-overflow-style: none; /* For Edge */
  scrollbar-width: none; /* For Firefox */
}
.hide-scrollbars::-webkit-scrollbar {
  /* For webkit browsers */
  display: none;
}
.spinner {
  width: 30px;
  height: 30px;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: rgb(129 195 65);
  border-radius: 50%;
  animation: spin 1s ease-in-out infinite;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ///Marketplace */
.market-place{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  column-gap: 25px;
  row-gap: 15px;
}

/* //Rechart */
.recharts-wrapper, .recharts-surface{
  width: 100% !important;
}

/* //STars  */
.rating svg{
  color: green !important;
}

/* //Modals */
.modal div:first-of-type div:first-of-type{
  max-height: 85vh;
  overflow-y: auto;
}
.success-modal div:first-of-type div:first-of-type{
  border-radius: 60px;
}

/* //General Max width  */
.max-width{
  @apply max-w-[110rem] mx-auto
}

.generalPadding{
  @apply px-14
}

/* //For Number inputs//  */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  display: none;
}