@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,500;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&family=Work+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;500;600;700;800&family=Montserrat:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&display=swap');

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    min-height: 80vh;
}

.login > form {
    width: auto;
    min-width: 60%;
    height: auto;
    /* outline: 1px solid red; */
}

.first {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 15%;
    margin: 0 auto;
    color: #307C31;
    /* outline: 1px solid red; */
}

.first > img {
    width: 28px;
    height: 32px;
}

.second {
    width: 70%;
    height: auto;
    color: #307C31;
    margin: 0 auto;
}

.second > div:first-of-type {
    color: #307C31;
    margin: 1rem 0 1rem 5rem;
    width: 22%;
    /* outline: 1px solid red; */
}

/* input > :only-of-type[checkbox] {
    margin: 0 1rem;
} */

.second > input {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    font-size: 1.3rem;
    padding: 0 1.5rem;
    margin: 1rem auto;
    width: 70%;
    height: 50px;
    color: #307C31;
    background: #FFFFFF;
    border-radius: 30px;
    border: 1px solid rgba(46, 96, 47, 0.1);
    box-shadow: 0px 31px 13px rgba(0, 0, 0, 0.01), 0px 18px 11px rgba(0, 0, 0, 0.05), 0px 8px 8px rgba(0, 0, 0, 0.09), 0px 2px 4px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
}

.loginBtn {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    font-size: 1.3rem;
    padding: 0 1.5rem;
    width: 77%;
    height: 50px;
    border: none;
    border-radius: 30px;
    color: #FFFFFF;
    background: linear-gradient(90deg, #81C341 0%, #2E602F 73.44%);
    box-shadow: 0px 41px 16px rgba(0, 0, 0, 0.01), 0px 23px 14px rgba(0, 0, 0, 0.05), 0px 10px 10px rgba(0, 0, 0, 0.09), 0px 3px 6px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
}

.loginRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    height: auto;
    min-height: 80vh;
    width: auto;
    min-width: 40%;
    background-image: url('https://res.cloudinary.com/dmyvdqjso/image/upload/v1671530893/loginImg_h5gsff.jpg');
    background-size: cover;
}

.loginRight > h1 {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
    line-height: 2rem;
    margin: 1rem 0;
    
}

.loginRight > p {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.5rem;
    width: 40%;
    margin: 0.5rem 0;
}

.loginRight > button {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 2rem;
    color: #307C31;
    width: 180px;
    border: none;
    border-radius: 30px;
    padding: 0.8rem 1.8rem;
    margin: 1rem 0;
}


/* ----------------------- FORGOT PASSWORD ----------------------- */
.forgotPassword {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
}

.forgot {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: auto;
    min-width: 450px;
    max-width: 600px;
    min-height: 50%;
    padding: 1rem;
    /* outline: 1px solid red; */
}

.forgot > h1 {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 36px;
    color:  #307C31;
    text-align: left;
    margin: 1.2rem 0;
}

.forgot > p:last-of-type {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 18px;
    letter-spacing: 0.5px;
    display: flex;
    align-items: center;
    text-align: left;
    color: #307C31;
    margin: 0.6rem 0;
}

.forgotBox {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #307C31;
    border-radius: 14px;
    width: 90%;
    margin: 1rem 0;
    padding: 0.5rem;
    cursor: pointer;
    color: #307C31;
    
}

.forgotBox:hover {
    color: #FFFFFF;
    background-color: #307C31;
}

.iconBox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 70px;
    border-radius: 60%;
    /* padding: 0.5rem 0; */
    background-color: #ededed;
    /* outline: 1px solid red; */
}

.forgotBoxIcon {
    width: 35px;
    height: 30px;
}

.forgotBoxInner {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin: 0 1rem;
    height: auto;
    min-height: 45px;
    width: 60%;
    /* outline: 1px solid red; */
}

.forgotBoxInner > span {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 20px;
    /* color: rgba(46, 96, 47, 0.5); */
    margin: 0;
}

.forgotBoxInner > p {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 1.1;
    line-height: 26px;
    /* color: #307C31; */
    margin: 0;
}

.reset {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: auto;
    min-width: 450px;
    max-width: 600px;
    min-height: 50%;
    padding: 1rem;
    /* outline: 1px solid red; */
}

.reset > h1 {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 36px;
    color:  #307C31;
    text-align: left;
    margin: 1.2rem 0;
}

.reset > p {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 18px;
    letter-spacing: 0.5px;
    text-align: left;
    color: #307C31;
    margin: 0.6rem 0;
}


.reset > form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0.5rem 0;
    margin: 0.5rem 0;
    /* outline: 1px solid red; */
}

.reset > form > input {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    font-size: 1.3rem;
    width: 70%;
    height: 50px;
    color: #307C31;
    padding: 0 1.5rem;
    margin: 0.5rem 0;
    border-radius: 48px;
    border: 1px solid rgba(46, 96, 47, 0.1);
    box-shadow: 0px 31px 13px rgba(0, 0, 0, 0.01), 0px 18px 11px rgba(0, 0, 0, 0.05), 0px 8px 8px rgba(0, 0, 0, 0.09), 0px 2px 4px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
}

.reset > form > button {
    margin: 1rem 0;
    width: 78%;
    height: 50px;
    border: none;
    border-radius: 48px;
    background: linear-gradient(90deg, #81C341 0%, #2E602F 73.44%);
    box-shadow: 0px 41px 16px rgba(0, 0, 0, 0.01), 0px 23px 14px rgba(0, 0, 0, 0.05), 0px 10px 10px rgba(0, 0, 0, 0.09), 0px 3px 6px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);

}

/* NEW PASSWORD  */
.newPasswordForm {
    width: 40%;
    height: auto;
    /* outline: 1px solid red; */
}

.newPasswordForm > input {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    font-size: 1.3rem;
    width: 70%;
    height: 50px;
    color: #307C31;
    padding: 0 1.5rem;
    margin: 0.5rem 0;
    border-radius: 48px;
    border: 1px solid rgba(46, 96, 47, 0.1);
    box-shadow: 0px 31px 13px rgba(0, 0, 0, 0.01), 0px 18px 11px rgba(0, 0, 0, 0.05), 0px 8px 8px rgba(0, 0, 0, 0.09), 0px 2px 4px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    width: 80%;
}

.newPasswordForm > button {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    font-size: 1.3rem;
    padding: 0 1.5rem;
    margin: 1rem auto;
    width: 88%;
    height: 50px;
    border: none;
    border-radius: 30px;
    color: #FFFFFF;
    background: linear-gradient(90deg, #81C341 0%, #2E602F 73.44%);
    box-shadow: 0px 41px 16px rgba(0, 0, 0, 0.01), 0px 23px 14px rgba(0, 0, 0, 0.05), 0px 10px 10px rgba(0, 0, 0, 0.09), 0px 3px 6px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
}